.skate-game-pick {
    height: 33%;
    text-align: center;
    overflow: scroll;
}

.skate-game-pick-tricks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    width: 60%;
    justify-content: center;
}

.skate-game-pick-tricks p {
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
    margin-inline: 10px;
}