 .friend-list {
  display: flex;
  flex-direction: column;
}

  #add-friend {
      cursor: pointer;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      margin-right: 20px;
      padding: 5px;
      background-color: 
      #219EBC;
    right: 10px;
    z-index: 2;
    cursor: pointer;
  }
#add-container{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
#add{
  height: 100%;
  width: auto;
}

  .friend-container {
    position: relative;
    width: 70%;
    margin-bottom: 20px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

#friend-name {
  font-size: 20px;
  left: 0; right: 0; top: 0; bottom: 0;
  z-index: 1;
}

#bg-img {
  width: 120%;
}

#friend-img {
  width: 50px; 
  height: 50px;
  border-radius: 50%;
  margin-left: 20px;
  margin-top: 8px;
  z-index: 2;
}

#friend-info {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 5px;
  margin-left: 10px;
  position: absolute;
}

.pending-request{
  position: absolute;
  right: 1px;
  z-index: 3;
}

#accept-request, #waiting-request {
  display: flex;
  align-items: center;
}

#waiting-request{
  background-color: rgba(0, 0, 0, 0.61);
  height: 5rem; width: 65vw;
  max-width: 385px;
  font-size: 2rem;
}

#accept-request button, #waiting-request button {
  background-color: white;
  width: 40px; height: 40px;
  border:  2px solid black;
  font-size: 40px;
  border-radius: 50%;
}

#accept-request-button {
  color: rgb(101, 168, 0);
  margin-right: 10px;
}
#deny-request-button {
  color: rgb(160, 0, 0);
}

@media screen and (max-width: 330px) {
  #friend-img {
    margin-top: 0;
  }
  #friend-name {
    font-size:15px;
  }
}
