#add-friend {
  cursor: pointer;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-right: 20px;
  margin-top: -20px;
  margin-bottom: 10px;
  font-size: large;
  font-weight: bold;
  padding: 5px;
  right: 10px;
  z-index: 2;
  cursor: pointer;
}

#add-container{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#add{
  height: 100%;
  width: auto;
}

.friend-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 92%;
  border-radius: 5px;
  max-width: 550px;
  height: 11vh;
  margin-bottom: 5px;
  margin-inline: auto;
}

#friend-name {
  font-size: 20px;
  z-index: 1;
  margin-left: 10px;
}

#friend-img {
  width:9vh;
  height: 9vh;
  border-radius: 50%;
  margin-left: 20px;
  z-index: 2;
}

#friend-info {
  display: flex;
  align-items: center;
}

.pending-request{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #1C1C1C;
  opacity: .6;
  z-index: 0;
  display: flex;
  justify-content: right;
}

#accept-request, #waiting-request {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

#accept-request i, #waiting-request i {
  background-color: #efefef;
  font-size: 40px;
  border-radius: 50%;
}

#accept-request-button {
  color:#218134;
  margin-right: 10px;
}
#deny-request-button {
  color: #E6171F;

}

@media screen and (max-width: 330px) {
  #friend-img {
    margin-top: 0;
  }
  #friend-name {
    font-size:15px;
  }
}
