/* Popup style */
.popup-box {
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.479);
  }
   
  .box {
    text-align: center;
    border-radius: 10px;
    background-color: #1c1c1c;
    width: 80%;
    height: 450px;
    max-width: 350px;
    max-height: 250px;
    padding: 20px;
  }
   
  .close-icon {   
    right: calc(15% - 30px);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    position: fixed;
    font-size: 20px;
    font-weight: bolder;
    color: #EFEFEF;
  }
#uploadBtn{
  box-shadow: 10px 3px 4px rgb(26 26 26 / 20%);
  border: 3px solid rgb(165, 26, 26);
  border-radius: 5px;
  width: 150px;
  height: 50px;
}