html,
body {
    height: 100%;
}

@font-face {
    font-family: "Malgun Gothic";
    src: url('./fonts/malgun.ttf') format("truetype");
}

body {
    /* background-image: linear-gradient(to bottom, #590D0D, #101010 ); */
    /* background: url(./images/image\ 13.png); */
    color: #efefee;
}

.backgroundImage {
    z-index: -1;
    opacity: 90%;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    background-image: url("./images/background_image.png");
    background-size: cover;
}

.box-container {
    width: 300px;
    height: 375px;
    background: rgba(217, 217, 217, 0.12);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin: auto;
    margin-top: 100px;
}

h4 {
    text-align: left;
    float: left;
    margin-top: -50px;
    margin-left: -45px;
}

#h-line {
    width: 270px;
    left: 50px;
    top: 250px;
    border: 1px solid #efefef;
}

#info{
    margin-top:45px;
    padding: 10px 25px;
    line-height: 1.5;
    display: flex;
    justify-content: center;
}

.buttons {
    top: 430px;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    margin-left: -15px;
}

a {
    text-decoration: none;
    color: #efefef;
}

.v-line {
    width: 35px;
    height: 0px;
    /* left: 180px;
    top: 588px; */
    border: 2px solid #FFFFFF;
    transform: rotate(-90deg);
}

#not-active{
    opacity: 0.45;
}