.create-skate-lobby {
    width: 100%;
    max-width: 550px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

#lobby-settings {
    height: 25%;
    margin-top: 20px;
    width: 95%;
    border-radius: 10px;
    padding-top: 10px;
    position: relative;
}

#lobby-settings-block {
    position: absolute;
    background-color: #1e1e1e91;
    height: 95%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 550px;
}

@keyframes hideAnimation {
    to {
        visibility: hidden;
        width: 0;
        height: 0;
    }
}

#lobby-settings-block p{
    margin-top: 470px;
    z-index: 10;
    font-size: 20px;
    height: 75px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border: 1px solid #4e4e4e63;
    border-radius: 5px;
    word-wrap: break-word;
    /* margin: 10px; */
    text-align: center;
    box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px, rgb(0 0 0 / 12%) 0px -12px 30px, rgb(0 0 0 / 50%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px, rgb(0 0 0 / 9%) 0px -3px 5px;
    background: rgb(28, 28, 28, 90%);
    margin-bottom: 60px;
    text-align: center; 
    animation: hideAnimation 0s ease-in 4s;
    animation-fill-mode: forwards;
}

#visibility-switch {
    cursor: pointer;
    display: flex;
    background-color: #1e1e1e;
    border-radius: 30px;
    width: 35%;
    min-width: 200px;
    height: 40px;
    justify-content: space-evenly;
    margin: auto;
    align-items: center;
}

#private-lobby-visibility, #public-lobby-visibility {
    border: 2px solid #1e1e1e;
    width: 50%;
    height: 38px;
    display: flex; 
    align-items: center;
    justify-content: center;
    transition: .3s linear;
}

#private-lobby-visibility {
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    background-color: #1e1e1e;
}

#public-lobby-visibility {
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    background-color: #1e1e1e;
}

#player-limit {text-align: center;}

#player-limit-control {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#player-limit-current {
    font-size: 30px;
    margin: 0;
}

#player-limit-control button {
    width: 30px;
    margin: 0 10px;
    box-shadow: none;
    height: 30px;
}

#lobby-code-text {
    margin-top: 20px;
    text-align: center;
    font-size: 15px;
    margin-bottom: 0;
}

#lobby-code {
    text-align: center;
    font-size: 30px;
    margin: 0;
    margin-bottom: 10px;
    font-weight: 650;
    text-decoration: underline;
}

#line {
    height: .5px;
    width: 70vw;
    max-width: 450px;
    background-color: white;
}
