.create-skate-lobby {
    width: 100%;
    height: calc(100vh - 70px);
    max-width: 550px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #EFEFEF;
}

#lobby-settings {
    width: 95%;
    border-radius: 10px;
    padding-top: 10px;
    position: relative;
}

#visibility-switch {
    cursor: pointer;
    display: flex;
    border-radius: 30px;
    width: 35%;
    min-width: 200px;
    height: 40px;
    justify-content: space-evenly;
    margin: auto;
    align-items: center;
    margin-top: 50px;
}

#private-lobby-visibility, #public-lobby-visibility {
    width: 20%;
    height: 38px;
    display: flex; 
    align-items: center;
    justify-content: center;
    transition: .3s linear;
}

#lobby-code-text {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 20px;
}

#lobby-members {
    width: 94%;
    max-width: 550px;
}