.popup-container #popup-title {
    margin-block-start: 0px !important;
    text-align: center;
}

.invite-popup-list{
    height: 80%;
    overflow-x: hidden;
    overflow-y: scroll;
}

#invite-popup p {
    text-align: right;
    font-size: 20px;
    border-radius: 50%;
    background-color: right;
    color: #efefef;
}

.fa-xmark {
    font-size: 20px;
    margin-top: 10px;
    margin-left: 20px;
}
