.lobby-participant {
    display: flex;
    width: 98%;
    max-width: 520px;
    border-radius: 5px;
    word-wrap:break-word;
    margin-bottom: 5px;
    position: relative;
}

.lobby-participant-info {
    display: flex;  
    align-items: center;
}

.lobby-participant-info p {
    margin-left: 10px;
}

#lobby-participant-pending {
    position: absolute;
    right: 10px;
    transform: translateY(50%);
}

#lobby-participant-image {
    border-radius: 50%;
    width: 60px;
    height: auto;
    margin-left: 15px;
    margin-block: 10px;
}

.lobby-participant-action {
    position: absolute;
    right: 15px;
    height: 25px;
    width: 25px;
}

#lobby-leader-icon {
    right: 5px;
    height: 40px !important;
    width: 40px !important;
}

