.lobbyMembers {
    overflow-y: scroll;
    height: calc(100vh - 240px);
    margin-inline: auto;
}
.not-creator {
    height: calc(100vh - 220px);
}

#lobbyMembers-info {
    margin-left: 20px;
    display: flex;
    align-items: center;
    gap: 60%;
}

#lobby-player-count {
    font-weight: 600;
    font-size: large;
}

#invite-to-lobby-button {
    cursor: pointer;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-weight: 300;
    background: none;
}

#lobby-member-list {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    place-items: center;
    max-width: 350px;
    overflow-x: hidden;
    grid-template-columns: 1fr 1fr;
    margin-inline: auto;
    margin-top: 10px;
}

.start-lobby-button {
    margin-top: 20px;
    height: 30px !important;
    width: 90px !important;
}

.lobby-participant-action {
    position: absolute;
    right: 10px;
    width: auto !important;
    height: 50px !important;
}