 #lobby-invite-pop-up {
    position: fixed;
    z-index: 2;
    height: 150px;
} 

#lobby-invite-pop-up p {
    margin-top: 30px;
    text-align: center;
    width: 80%;
   margin-bottom: 30px;
   margin-left: auto; margin-right: auto;
}

#lobby-invite-buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#lobby-invite-buttons  button {
    border-radius: 5px;
    width: auto;
    height: 30px;
    width: 90px;
}

#lobby-invite-accept {
    background-color: rgb(24, 207, 24);
    border: 1px solid green;
}

#lobby-invite-deny {
    background-color: rgb(207, 24, 24);
    border: 1px solid rgb(99, 17, 17);
}