.lobbyMembers {
    overflow-y: scroll;
    height: calc(100vh - 320px);
    max-width: 550px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 65px;
}

#lobbyMembers-info {
    margin-left: 20px;
    display: flex;
    align-items: center;
}

#lobby-player-count {
    font-weight: 600;
    font-size: large;
}

#invite-to-lobby-button {
    cursor: pointer;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 20px;
    font-weight: 300;
    background: none;
}

#lobby-member-list {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    place-items: center;
    max-width: 350px;
    overflow-x: hidden;
    grid-template-columns: 1fr 1fr;
    margin-inline: auto;
    margin-top: 10px;
}