.lobby-participant {
    display: flex;
    width: 98%;
    max-width: 520px;
    border-radius: 5px;
    word-wrap:break-word;
    margin-bottom: 5px;
    position: relative;
    border: .5px solid rgba(255, 255, 255, 0.281);
}

.lobby-participant-info {
    display: flex;  
    align-items: center;
}

.lobby-participant-info p {
    margin-left: 10px;
}

#lobby-participant-pending {
    position: absolute;
    right: 10px;
    transform: translateY(50%);
}

.lobby-participant-info img {
    border-radius: 50%;
    width: 60px;
    height: auto;
    margin-left: 15px;
    margin-block: 10px;
}

.lobby-paticipant-container {
    position: absolute;
    background: rgba(0, 0, 0, 0.33);
    mix-blend-mode: darken;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    backdrop-filter: blur(4px);
    z-index: -1;
    width: 100%;
    height: 100%;
}