.achievement-container{
    position: relative;
    width: 40vw;
    height: 33vh;
    max-width: 200px;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
}

.achievement-image {

}

.acievement-category-name{

}