
.skate-stat-parent {
    height: 40vh;
    display: flex;
    align-items: center;
}

.skate-stat-container {
    width: 100vw;
    max-width: 550px;
    display: grid;
    grid-template-columns: auto auto;
    color: #efefef;
}

.skate-stat-item {
    padding: 20px;
    font-size: 30px;
    text-align: center;

    display: flex;
    gap: 0.8rem;
    align-items: center;
    justify-content: center;
}

.skate-stat-text {
    font-size: 1.2rem;
    align-self: flex-start;
}

.skate-stat-item .stat {
    display: flex;
    flex-direction: column;
}
.skate-stat-item .value {
    display: flex;
    gap: 3px;
}
.skate-stat-dimensions {
    font-size: 0.8rem;
    align-self: flex-end;
    font-weight: 600;
}
.skate-stat-item .top {
    align-self: flex-start !important;
    font-size: 1.5rem;
}

.skate-preview {
    background-color: #101010;
    height: calc(60vh - 64px);
    display: flex;
    max-width: 550px;
    margin: auto;
    justify-content: center;
    align-items: center;
}

#pedal{
    height: 20px;
    width: 30px;
    margin-bottom: 5px;
}
.canvas{
    height: 500px;
    background: rgb(0, 0, 0);
}

.skate-img {
    width: 60%;
    height: 60%;
}

.SKATEMenu {
    position: relative;
}
