.level-menu {
  max-width: 550px;
  margin: auto;
  position: relative;
}

.level-menu h3 {
  color: #efefef;
  text-align: center;
  font-weight: 150;
  font-weight: bold;
  margin-top: 5px;
}

.level-menu h5 {
  color: #efefef;
  text-align: center;
  font-weight: 50;
  font-weight: bold italic;
  margin-top: -20px;
}

.level-menu-swipe {
  width: 100%;
  max-width: 550px;
  height: calc(100vh - 65px);
  margin: auto;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}


.difficulty-container {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.middle-difficulty-container {
  margin-inline: 15px;
}

.difficulty-container img {
  width: 200px;
  height: 180px;
}

.level-next {
  margin-top: 150px;
  position: absolute;
  right: 10px;
  font-size: 70px;
}

.level-previous {
  position: absolute;
  left: 10px;
  font-size: 70px;
  margin-top: 150px;
}