#back {
    position: absolute;
    margin-top: 20px;
}

#tricks{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tricks-list {
    width: 92%;
    margin-top: 20px;
    margin-inline: auto;
    max-width: 550px;
    overflow-y: scroll;
    height: calc(80vh - 64px);
    padding-bottom: 64px;
}

#tricks h3 {
    color: #efefef;
    text-align: center;
    font-weight: 150;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 0;
}

.level-ramp-image {
    position: absolute;
    width: 200px;
    left: -100px;
    top: -75px
}