.trick {
    width: 100%;
    height: auto;
    border: 1px solid #efefef;
    box-sizing: border-box;
    border-radius: 50px;
    margin-top: 15px;
    max-width: 550px;
    cursor: pointer;
}

#trick-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1.2rem;
    /* display: grid; */
    /* grid-template-columns: 1fr; */
    /* gap: 8px; */
    height: 70px;
    margin: auto;
    color: #efefee;
    text-align: center;
    font-size: large;
    font-weight: bold;

}

.trick-line-colored {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
    font-style: italic;
    color: #1C80DB;
    margin-right: -75px;
}

.trick-container-detail {
    display: flex;  
    margin-top: -30px;
    margin-left: 50px;
    margin-bottom: 10px;
}

.trick-minutes {
    color: #efefee;
    font-size: small;
    font-weight: bold;
    margin-right: 10px;
}

.trick-avarge-scoretext {
    font-size: small;
    color: #efefee;

}

/* .trick-line-colored {
    margin: -20;
    padding:0;
} */

.trick-content{
    display: none;
}

.trick-right {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.play-trick-arrow {
    color: #CF2121;
}

#trick #trickName {
    /* margin-top: -3px; */
    /* margin-left: 10px; */
    color: #efefef;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    /* text-align: left; */
}
#trickXp{
    /* margin-top: -45px; */
    /* margin-left: 175px; */
    color: #efefef;
    font-family: 'Segoe UI';
    font-style: italic;
    font-size: 14px;
}