.trick {
    border-radius: 46px;
    margin-top: 15px;
    cursor: pointer;
    position: relative;
}

#trick-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.2rem;
    height: 70px;
    margin: auto;
    color: #efefee;
    text-align: center;
    font-size: large;
    font-weight: bold;

}

.trick-line-colored {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
    font-style: italic;
    color: #1C80DB;
}

.trick-container-detail {
    display: flex;  
    margin-top: -30px;
    margin-left: 40px;
}

.trick-minutes {
    color: #efefee;
    font-size: small;
    font-weight: bold;
    margin-right: 10px;
}

.trick-avarge-scoretext {
    font-size: small;
    color: #efefee;

}

.trick-content{
    display: none;
    text-align: center;
}

.trick-content hr {
    height: .5px;
    border: none;
    background-color: #efefee;
    width: 80%;
    margin: auto;
}

.trick-right {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#VideoDiv{
    width: 94%;
    margin: auto;
}

.play-trick-arrow {
    color: #CF2121;
}

#trick #trickName {
    color: #efefef;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

#trickName {
    margin-left: 10px;
    width: 100%;
    text-align: left;
}

#trickXp{
    color: #efefef;
    font-family: 'Segoe UI';
    font-style: italic;
    font-size: 14px;
}

#trickBtn {
    margin-bottom: 10px !important;
}