#back {
  margin-left: 45px;
  color: white;
  font-size: 40px;
  cursor: pointer;
  text-align: left;
}

.level-menu{
  max-width: 550px;
  margin: auto;
}

.level-menu h3 {
  color: #efefef;
  text-align: center;
  font-weight: 150;
  font-weight: bold;
  margin-top: -20px;
}

.level-menu h5 {
  color: #efefef;
  text-align: center;
  font-weight: 50;
  font-weight: bold italic;
  margin-top: -20px;
}

.level-menu-swipe {
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  width: auto;
}

.LevelMenuSwipe::-webkit-scrollbar {
  display: none;
}

.difficulty-container {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 50%;
  padding-bottom: 20px;
  margin-inline: 15px;
  opacity: .6;
}
.difficulty-container .prev {

}

.difficulty-container .selected {
  transform: scale(1.5);
  opacity: 1;
}

.difficulty-container .next {
  
}

.difficulty-container img {
  width: 200px;
}

