.trick {
    width: 100%;
    height: auto;
    border: 2px solid #efefef;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 15px;
    max-width: 550px;
    cursor: pointer;
}

#trick-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1.2rem;
    /* display: grid; */
    /* grid-template-columns: 1fr; */
    /* gap: 8px; */
    height: 40px;
    margin: auto;
    color: #efefee;
    text-align: center;
    font-size: x-large;
    font-weight: bold italic;

}

.trick-content{
    display: none;
}

.trick-right {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.play-trick-arrow {
    color: red;
}

#trick #trickName {
    /* margin-top: -3px; */
    /* margin-left: 10px; */
    color: #efefef;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    /* text-align: left; */
}
#trickXp{
    /* margin-top: -45px; */
    /* margin-left: 175px; */
    color: #efefef;
    font-family: 'Segoe UI';
    font-style: italic;
    font-size: 14px;
}