#videoFrame {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#VideoDiv {
  height: 30vh;
  padding-block: 1rem;
}

#trickBtn {
    border: none;
    margin: auto;
    height: 40px;
    border-radius: 5px;
    color: #efefee;
    background-color: #CF2121;
    font-size: large;
    font-weight: bold;
    box-shadow: 15px 3px 4px rgba(26, 26, 26, 0.25), inset 1px 0px 2px rgba(26, 26, 26, 0.25);

}

.bar {
  background: black;
}

.speechCommand{
  margin-bottom: 70px;
}

.timerContainer {
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #101010;
}

.speechText{
  color:white;
}


.time-text {
  width:50%
}
.time-sec {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap:0.8rem;

}