#logo{
    margin-top: -90px;
    margin-left: auto;
    margin-right: auto;
}

#log-container{
    margin-top: 25%;
    width: 94%;
    max-width: 550px;
    text-align: center;
    margin-inline: auto;
}

.logInForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin: auto;
}

#email,
#pwd {
    padding-left:15px;
    padding-bottom: 10px;
    padding-top: 10px;
    max-width: 300px;
    width: 250px;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #efeefe;
    color: #efefef;
}
#fpas, #acount{
    font-size: 12px;
}
.links{
    color:#CF2121;
}

#option{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
#leftLine, #rightLine{
   margin: auto;
    background-color: white;
    width:125px;
    height:1px;
}
#or{
    padding:20px;
    text-transform: capitalize;
    font-weight: 700;
}
.log-in-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #EFEFEF;
    border-radius: 46px;
    width: 150px;
    height: 35px;
    color: #101010;
    font-size: 15px;
    font-weight: 100;
    margin: auto;
}

#icon {
    margin-left: 10px;
}
